<!-- BOTÓN HAMBURGUESA (solo móvil) -->
<button class="menu-toggle" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
</button>

<aside class="sidebar" [class.open]="isOpen">
    <div class="sidebar-header">
        Gym App
    </div>

    <nav class="menu">

        <div class="menu-item" *ngFor="let item of menuItems()" [routerLink]="item.route" routerLinkActive="active"
            (click)="closeSidebar()">
            <mat-icon>
                {{
                item.route.includes('users') ? 'people' :
                item.route.includes('admin') ? 'admin_panel_settings' :
                item.route.includes('client') ? 'person' :
                item.route.includes('employee') ? 'badge' :
                'home'
                }}
            </mat-icon>

            <span>{{ item.label }}</span>
        </div>

    </nav>

    <!-- OVERLAY PARA CERRAR -->
    <div class="menu-item logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
    </div>