.login-container {
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* antes era center */
    padding-top: 80px;
    /* ajusta este valor */
    background: url('/images/login.jpg') center top / contain no-repeat;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.error {
    color: #f44336;
    margin-bottom: 10px;
    font-size: 14px;
}

.register-link {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;

    a {
        margin-left: 4px;
        color: #3f51b5;
        text-decoration: none;
        font-weight: 500;
    }

    a:hover {
        text-decoration: underline;
    }
}