<div *ngIf="userData as user">

    <!-- ================= CARD VISUAL (COVER + FOTO) ================= -->
    <mat-card class="profile-visual-card">

        <!-- COVER -->
        <div class="cover-wrapper" (click)="confirmChangeCover(coverInput)">

            <div class="cover" [style.backgroundImage]="
                 user.coverPhotoURL
                 ? 'url(' + user.coverPhotoURL + ')'
                 : 'url(/images/cover-default.jpg)'">
            </div>

            <div class="cover-overlay-text">
                Cambiar portada
            </div>

            <!-- SPINNER COVER -->
            <div class="cover-spinner-overlay" *ngIf="uploadingCover">
                <mat-spinner diameter="50"></mat-spinner>
            </div>

        </div>

        <input type="file" hidden #coverInput accept="image/*" (change)="onCoverSelected($event)">

        <!-- FOTO PERFIL -->
        <div class="profile-avatar-wrapper" (click)="confirmChangeProfilePhoto(fileInput)">

            <img class="profile-photo" [src]="user.photoURL || '/images/images.png'">

            <!-- SPINNER FOTO -->
            <div class="spinner-overlay" *ngIf="uploadingPhoto">
                <mat-spinner diameter="40"></mat-spinner>
            </div>

        </div>

        <input type="file" hidden #fileInput accept="image/*" (change)="onFileSelected($event)">

    </mat-card>


    <!-- ================= CARD INFO ================= -->
    <mat-card class="profile-info-card">

        <h2>
            {{ user.name }}
            {{ user.lastNameFather }}
            {{ user.lastNameMother }}
        </h2>

        <p class="role">
            Rol: {{ user.role }}
        </p>

        <p class="membership">
            Membresía válida hasta:
            <strong>
                {{ user.membershipExpiresAt?.toDate() | date:'longDate' }}
            </strong>
        </p>

        <p class="membership-status" [ngClass]="{
             active: user.membershipStatus === 'active',
             expired: user.membershipStatus === 'expired'
           }">

            Estado: {{ user.membershipStatus }}
        </p>

        <p class="bio">
            {{ user.bio || 'Sin biografía aún.' }}
        </p>

        <div class="profile-visibility">
            <button mat-raised-button [color]="user.isPublic ? 'primary' : 'warn'" (click)="togglePublicProfile()">

                <mat-icon>
                    {{ user.isPublic ? 'public' : 'lock' }}
                </mat-icon>

                {{ user.isPublic ? 'Perfil Público' : 'Perfil Privado' }}
            </button>
        </div>

    </mat-card>

</div>