.profile-visual-card {
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.cover {
    height: 180px;
    background-size: cover;
    background-position: center;
}

.profile-avatar-wrapper {
    position: relative;
    width: 140px;
    margin: -70px auto 20px auto;
    cursor: pointer;
}

.profile-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    background: white;
    transition: 0.3s ease;
}


.profile-avatar-wrapper:hover .profile-photo {
    opacity: 0.9;
}

.spinner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
}

.profile-info-card {
    padding: 24px;
}

.cover-wrapper {
    position: relative;
    cursor: pointer;
}

.cover-wrapper:hover .cover-overlay-text {
    opacity: 1;
}

.cover-overlay-text {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 12px;
    opacity: 0;
    transition: 0.3s ease;
}

.cover-spinner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}