<div class="dashboard-container">

    <mat-card class="welcome-card">
        <h2>👋 Bienvenido</h2>
        <p *ngIf="userName">
            Hola <strong>{{ userName }}</strong> 👋
        </p>
        <p>
            Tu cuenta ha sido creada correctamente.
            Actualmente tienes acceso como <strong>Empleado</strong>.
        </p>
    </mat-card>

    <mat-card class="info-card">
        <h3>¿Qué puedes hacer ahora?</h3>
        <ul>
            <li>👥 Ver clientes</li>
            <li>👀 Ver visitantes</li>
            <li>🔄 Convertir visitante → cliente</li>
            <li>💳 Registrar pagos</li>
            <li>💪 Crear rutinas usando catálogo existente</li>
            <li>🏋️ Asignar rutinas</li>
        </ul>
    </mat-card>


    <button mat-raised-button color="warn" (click)="logout()">
        Cerrar sesión
    </button>
</div>