<div *ngIf="loading">
    <p>Cargando perfiles públicos...</p>
</div>

<div class="profiles-container" *ngIf="!loading">

    <mat-card *ngFor="let profile of profiles" class="profile-card">


        <img class="profile-photo" [src]="profile.photoURL || '/images/images.png'">
        <h3>
            <h3>
                {{ profile.nickname || profile.name }}
            </h3>

        </h3>

        <p class="bio">
            {{ profile.bio || 'Sin biografía' }}
        </p>

        <button mat-raised-button color="primary" (click)="goToProfile(profile)">
            Ver perfil
        </button>

    </mat-card>

</div>