.profiles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;


}

.profile-card {
    text-align: center;
    padding: 20px;
    // background-color: beige; cambia el color de fondo de cada tarjeta
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}