.user-card {
    margin-bottom: 16px;
    padding: 10px;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.user-details {
    margin-top: 10px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.loading-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* ================= AVATAR ================= */

.avatar-wrapper {
    position: relative;
    width: 80px;
    height: 80px;
}

.avatar-admin {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1976d2; // azul estilo admin
}

.avatar-user-mini {
    position: absolute;
    bottom: -4px;
    left: -4px;

    width: 32px;
    height: 32px;

    border-radius: 50%;
    object-fit: cover;

    border: 2px solid white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}