.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-main);
}

.logo {
    font-weight: bold;
}

.spacer {
    flex: 1;
}

.menu-desktop {
    display: flex;
    gap: 10px;
}

.menu-mobile {
    display: none;
}

@media (max-width: 1023px) {
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: inline-flex;
    }
}