.hero {
    height: 500px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('/images/gym-hero5.jpg') center right / cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.actions button {
    margin: 0 10px;
}

.services {
    padding: 60px 20px;
    text-align: center;

}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;

}

mat-card {
    padding: 20px;

}

.cta {

    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('/images/footer_3.jpg') center / cover no-repeat;
    color: white;

    padding: 60px 20px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.cta p {
    color: white;
}

.fitness_center {
    color: white;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('/images/images1.jpeg') center / cover no-repeat;

    p {
        color: white;
    }
}



.timeline {
    color: white;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('/images/images2.jpg') center / cover no-repeat;

    p {
        color: white;
    }
}

.groups {
    color: white;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('/images/images3.webp') center / cover no-repeat;

    p {
        color: white;
    }
}

.app_shortcut {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('/images/images7.jpg') center / cover no-repeat;

    p {
        color: white;
    }
}