<section class="hero">
    <div class="hero-content">
        <h1>Transforma tu cuerpo</h1>
        <p>Entrenamientos personalizados · Progreso real · Resultados</p>

        <div class="actions">
            <button mat-raised-button color="accent" routerLink="/register">Únete hoy</button>
            <button mat-stroked-button color="accent" routerLink="/login">Iniciar sesión</button>
        </div>
    </div>
</section>

<section class="services">
    <h2>Nuestros servicios</h2>

    <div class="service-grid">
        <mat-card class="fitness_center">
            <mat-icon>fitness_center</mat-icon>
            <h3>Entrenamiento</h3>
            <p>Rutinas personalizadas</p>
        </mat-card>

        <mat-card class="timeline">
            <mat-icon>timeline</mat-icon>
            <h3>Progreso</h3>
            <p>Seguimiento de resultados</p>
        </mat-card>

        <mat-card class="groups">
            <mat-icon>groups</mat-icon>
            <h3>Entrenadores</h3>
            <p>Personal certificado y profesionales</p>
        </mat-card>

        <mat-card class="app_shortcut">
            <mat-icon>app_shortcut</mat-icon>
            <h3>Valida tus logros en la app</h3>
            <p>Valida tu progreso dentro de la app de Gym Pro</p>
        </mat-card>
    </div>
</section>

<section class="cta">
    <h2>Empieza hoy</h2>
    <p>Regístrate y accede a tu rutina personalizada</p>
    <button mat-raised-button color="accent" routerLink="/register">Registrarme</button>
</section>