.footer {
    background-color: var(--bg-main);
    color: var(tex-main);
    padding: 40px 20px 20px;

    p {
        color: var(--text-main);
    }
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.brand h3 {
    color: var(--text-main);
    margin-bottom: 10px;
}

.brand p {
    font-size: 14px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links a {
    color: var(--text-main);
    text-decoration: none;
    font-size: 14px;
    transition: color .3s;
}

.links a:hover {
    color: #9faee0;
}

.social span {
    display: block;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    gap: 12px;
}

.icons mat-icon {
    cursor: pointer;
    transition: transform .2s;
    color: var(--text-main)
}

.icons mat-icon:hover {
    transform: scale(1.2);

}

.footer-bottom {
    border-top: 1px solid #333;
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #888;
}