.layout-container {
    height: 100vh;
}

.sidebar {
    width: 240px;
    background: #1e1e2f;
}

.content {
    padding: 24px;
}

/* Fondo dinámico según tema */
body.dark-theme .content {
    background: #181818;
}

body:not(.dark-theme) .content {
    background: #1e3f71;
}