@use '@angular/material' as mat;
@include mat.core();


:root {
  --bg-main: #f1f1f1;
  --bg-card: #f5f5f5;
  --bg-section: #f1f1f1;

  --text-main: #111111;
  --text-muted: #555555;

  --border-welcome: #1976d2;
  --border-locked: #d32f2f;
  --border-info: green;
}

.dark-theme {
  --bg-main: #121212;
  --bg-card: #1e1e1e;
  --bg-section: #1a1a1a;

  --text-main: #ffffff;
  --text-muted: #bbbbbb;

  --border-welcome: #90caf9;
  --border-locked: #ef9a9a;
  --border-info: #dbef9ac9;
}


$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$blue-palette,
        tertiary: mat.$green-palette,
      )));


$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$blue-palette,
        tertiary: mat.$green-palette,
      )));


html {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

html,
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;

  background-color: var(--bg-main);
  color: var(--text-main);

  transition: background-color 0.3s ease, color 0.3s ease;
}

mat-card {
  background-color: var(--bg-card);
  color: var(--text-main);
}

mat-card p {
  color: var(--text-muted);
}